* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: Roman;
	src: url("fonts/roman-bold.otf");
	font-weight: 700;
}
@font-face {
	font-family: Roman;
	src: url("fonts/roman-book.otf");
	font-weight: 400;
}
@font-face {
	font-family: Roman;
	src: url("fonts/roman-bookitalic.otf");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Roman;
	src: url("fonts/roman-light.otf");
	font-weight: 100;
}
@font-face {
	font-family: Roman;
	src: url("fonts/roman-lightitalic.otf");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Bastardo;
	src: url("fonts/bastardo.otf");
}
body {
	font-family: Roman, serif;
	background-color: #222222;
}
html {
	font-size: 2vh;
}

/* Structure */
.container {
	height: 100vh;
	overflow-y: hidden;
}
.grid {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-rows: repeat(5, 20vh);
	grid-auto-flow: column;
	justify-content: start;
	height: 100vh;
	transition: filter .5s;
}
.cell {
	aspect-ratio: 1 / 1;
	position: relative;
	width: 20vh;
	height: 20vh;
	cursor: pointer;
	transition: filter .2s, opacity .2s, border .2s;
	border: 0rem solid white;
}
.cell:hover {
	border: .5rem solid white;
}
.cell:active {
	border: 1rem solid white;
}
.faded {
	filter: grayscale(50%) brightness(50%);
}
.faded:hover {
	filter: grayscale(0%) brightness(100%);
}

/* Pop-up content */
.cell-content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40vh;
	aspect-ratio: 1 / 2;
	background-color: white;
	padding: 1rem;
	z-index: 4;
	flex-direction: column;
	align-items: center;
	display: flex;
	transform: translateY(-100vh);
	transition: top .5s, left .5s, filter .2s, transform .5s;
}
.cell-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: .3rem;
	margin-bottom: 1rem;
	max-width: 400px;
	width: 100%;
}
.cell-grid div {
	aspect-ratio: 1 / 1;
}
.cell-species {
	font-size: 1.5rem;
	font-weight: 100;
	text-decoration: line-through;
	max-width: 400px;
	width: 100%;
}
.cell-name {
	font-size: 1rem;
	margin-bottom: 1rem;
	max-width: 400px;
	width: 100%;
}
.cell-info {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	font-weight: 100;
	font-size: 1rem;
	max-width: 400px;
	width: 100%;
}
.cell-colors {
	position: absolute;
	bottom: 1rem;
	display: grid;
	row-gap: 5px;
	max-width: 400px;
	width: calc(100% - 2rem);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cell-colors-entry {
	display: flex;
	gap: .2rem;
	align-items: stretch;
}
.cell-colors-block {
	aspect-ratio: 1 / 1;
	background-color: black;
	height: .9rem;
}
.cell-colors-text {
	display: flex;
	flex-direction: column;
}
.cell-colors-text span {
	font-size: .5rem;
	line-height: 1em;
}
.cell-close {
	display: none;
	width: 100vw;
	margin: -1rem -1rem 1rem -1rem;
	padding: 1.2rem 1rem 1rem 1rem;
	text-align: center;
	justify-content: center;
	font-family: Bastardo, sans-serif;
	align-items: center;
	background-color: black;
	color: white;
	cursor: pointer;
	letter-spacing: .2rem;
	transition: opacity .2s;
}
.cell-close:hover {
	opacity: .8;
}
.cell-close:hover {
	opacity: .5;
}

/* Navigation */
.nav-toggle {
	padding: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	height: 20vh;
	cursor: pointer;
	fill: white;
	filter: unset;
	transition: border .2s;
}
.nav-toggle svg {
	transition: fill .2s;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.1));
}
.nav-links {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	padding: .6rem;
	font-size: 1rem;
	line-height: 1em;
	letter-spacing: .03rem;
	position: fixed;
	top: 20vh;
	left: 0;
	z-index: 9;
	height: 20vh;
	filter: unset;
	transition: transform .5s;
	transform: translateX(-100%);
}
.nav-links:hover {
	border: unset;
}
.nav-links:active {
	border: unset;
}
.nav-link {
	text-decoration: none;
	font-family: Bastardo, sans-serif;
	color: black;
	background-color: white;
	padding: .7rem .6rem .4rem .6rem;
	border-radius: .4rem;
	border: 1px solid black;
	cursor: pointer;
	transition: color .2s, background-color .2s, opacity .2s, border .2s;
}
.nav-link:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
}
.nav-link:active {
	opacity: .5;
}

/* About */
.about {
	position: fixed;
	z-index: 9;
	background-color: white;
	flex-direction: column;
	width: 80vh;
	height: 80vh;
	top: 20vh;
	left: 20vh;
	padding: 1rem;
	font-family: Bastardo, sans-serif;
	display: flex;
	transform: translateY(100%);
	transition: transform .5s;
	overflow: scroll;
}
.about-heading {
	font-size: 3rem;
	letter-spacing: 0.08rem;
	text-align: center;
	margin-bottom: 2rem;
}
.about-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: .8rem;
	gap: 1rem;
	letter-spacing: 0.05rem;
}
.about-column {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.about-credit {
	margin-top: 2rem;
	font-size: .8rem;
	letter-spacing: 0.05rem;
	text-decoration: underline;
	color: black;
}
.about-credit:hover {
	text-decoration: none;
}


/* Submission form */
.form {
	position: fixed;
	z-index: 9;
	background-color: white;
	flex-direction: column;
	width: 80vh;
	height: 80vh;
	overflow-y: scroll;
	top: 20vh;
	left: 20vh;
	padding: 1rem;
	gap: 1rem;
	font-family: Bastardo, sans-serif;
	display: flex;
	justify-content: space-between;
	transform: translateY(100%);
	transition: transform .5s;
}
.form-heading {
	font-size: 3rem;
	letter-spacing: .2rem;
	text-align: center;
}
.form-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.form-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.form-color {
	width: 100%;
	cursor: pointer;
	background-image: url("color.jpg");
	background-size: cover;
	aspect-ratio: 1/1;
	position: relative;
}
.form-color-indicator {
	left: calc(50% - .75rem);
	top: calc(50% - .75rem);
	background-color: hsl(180, 100%, 50%);
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	box-shadow: 0 0 10px white, 0 0 10px white;
	border: 3px solid black;
}
.form-colorinput {
	height: 0;
	padding: 0;
	border: 0;
	margin-top: -1rem;
}
.form-desc {
	font-size: 1rem;
}
.form-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: .3rem;
}
.form-grid div {
	border: 1px solid gray;
	aspect-ratio: 1/1;
	cursor: pointer;
}
.form-grid div:hover {
	border: 2px solid black;
	background-color: white;
}
.form-grid div:active {
	transform: scale(.9);
}
.form-info {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	font-size: 1rem;
}
.form-textinput {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .4rem;
}
.form-textinput input {
	border-radius: 0px;
	background-color: white;
	border: unset;
	border-bottom: 1px solid black;
	font-size: 1rem;
	font-family: Bastardo, sans-serif;
	line-height: 1.2em;
	transition: background-color .2s;
	width: 100%;
	outline: unset;
}
.form-textinput input:hover {
	background-color: rgba(0,0,0,.05);
}
.form-submit-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.form-submit {
	border: 1px solid black;
	background-color: unset;
	padding: .65rem 1.6rem .4rem 1.6rem;
	border-radius: .4rem;
	font-size: 1rem;
	line-height: 1em;
	letter-spacing: .03rem;
	font-family: Bastardo, sans-serif;
	cursor: pointer;
	opacity: .3;
	background-color: rgba(0,0,0,.3);
	pointer-events: none;
	transition: background-color .2s, color .2s, opacity .2s;
}
.form-submit:hover {
	background-color: black !important;
	color: white;
}
.form-submit:active {
	opacity: .5 !important;
}
.form-submit-alert {
	font-size: 1rem;
	line-height: 1em;
	padding: .65rem 0 .4rem 0;
}

/* Mobile styles */
@media screen and (max-width: 100vh) {
	.cell-content {
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		aspect-ratio: unset;
		filter: unset !important;
		pointer-events: all !important;
		transition: transform .5s !important;
	}
	.cell-close {
		display: flex;
	}
	.about {
		height: 100vh;
		top: 0;
		width: calc(100vw - 20vh);
	}
	.about-heading {
		font-size: 2rem;
	}
	.about-content {
		grid-template-columns: 1fr;
	}
	.form {
		height: 100vh;
		top: 0;
		overflow-y: scroll;
		width: calc(100vw - 20vh);
	}
	.form-heading {
		font-size: 2rem;
	}
	.form-content {
		grid-template-columns: 1fr;
	}
	.form-submit-container {
		position: static;
	}
}

/* Print styles */
@media print {
	.cell-content {
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		width: 100vw !important;
		height: 100vh !important;
		z-index: 100 !important;
		transform: translateY(0vh) !important;
		filter: unset !important;
		aspect-ratio: unset !important;
		transition: unset !important;
	}
	.nav-toggle {
		display: none !important;
	}
	.nav-links {
		display: none !important;
	}
	.grid {
		display: none !important;
	}
	.about {
		display: none !important;
	}
	.form {
		display: none !important;
	}
}